<%= form_for @pessoa, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @pessoa.errors.any? %>  
  <div id="errorExplanation">  
    <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>  
    <ul>  
    <% @pessoa.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :nascimento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nascimento, :class => 'text_field', :id => "nascimento", :value => @pessoa.nascimento.to_s %>
    </div>
  </div>
  <script type="text/javascript">
      $(document).ready(function() {
        $('#nascimento').datepicker({
          format: 'dd/mm/yyyy'
        });
      });
    </script>


  <div class="control-group">
    <%= f.label :sexo, :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :sexo, "0", :class => 'number_field'  %>Masculino
      <%= f.radio_button :sexo, "1", :class => 'number_field'  %>Feminino
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rua_id, :class => 'control-label' %>
    <div class="controls">
       <%= collection_select(:pessoa, :rua_id, Rua.all, :id, :nome, :class => 'number_field') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :numero, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :numero, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complemento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :complemento, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :telefone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefone, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    Clique <%= link_to('aqui', edit_pessoa_registration_path, :method => :get) %> para editar suas preferencias de acesso.
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pessoas_path, :class => 'btn' %>
  </div>
<% end %>
