<%- model_class = Pessoa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @pessoa.nome %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:nascimento) %>:</strong></dt>
  <dd><%= @pessoa.nascimento %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:sexo) %>:</strong></dt>
  <dd><%= @pessoa.sexo=1?"Feminino":"Masculino" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rua_id) %>:</strong></dt>
  <dd><%= @pessoa.rua.nome %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:numero) %>:</strong></dt>
  <dd><%= @pessoa.numero %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:complemento) %>:</strong></dt>
  <dd><%= @pessoa.complemento %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:cep) %>:</strong></dt>
  <dd><%= @pessoa.cep %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:telefone) %>:</strong></dt>
  <dd><%= @pessoa.telefone %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @pessoa.email %>&nbsp;</dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pessoas_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pessoa_path(@pessoa), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pessoa_path(@pessoa),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
